<h1>My name is <%="#{@name}"%> and I'm <%="#{@age}"%>.<h1>

<form action = "/cat-form" method = "post">
  <input type = 'text' name = 'name'>
  <input type = 'text' name = 'age'>
  <input type = "submit" value = 'Submit'>
</form>